In [5]:
import pandas as pd

0            ACC
1       ADANIENT
2     ADANIGREEN
3     ADANIPORTS
4     ADANITRANS
         ...
95    MCDOWELL-N
96          VEDL
97         WIPRO
98        ZOMATO
99     ZYDUSLIFE
Name: Symbol, Length: 100, dtype: object