In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
from datetime import datetime,timedelta
import time
from regret_calc import CalculateReturns,CalculateReturnsList
from get_histdata import GetHistData_yf,GetHistData_nse
from recent_trends import recent_trends

In [2]:
# Variables for yfinance
look_back=10 #days ago
look_upto=0 #days ago; 0=today
uptrend_period=90 #days
interval='1d'

to_date=(datetime.today()-timedelta(look_upto)).strftime("%Y-%m-%d")
from_date=(datetime.today()-timedelta(look_back)).strftime("%Y-%m-%d")
# Convert string datetime to datetime datatype
to_date=datetime.strptime(to_date,"%Y-%m-%d")
from_date=datetime.strptime(from_date,"%Y-%m-%d")

In [3]:
data=pd.read_html('https://en.wikipedia.org/wiki/NIFTY_50')[1]
tickers_nse=data['Symbol'].to_list()
tickers_yf=["{}.NS".format(tick) for tick in tickers_nse]

In [4]:
# hist_N50=GetHistData_nse(tickers_nse,from_date,to_date)
hist_yf=GetHistData_yf(tickers_yf,from_date,to_date)

Getting historical using yfinance
Fetching data from 2022-06-01 00:00:00 to 2022-06-11 00:00:00
--- 13.049288272857666 seconds ---

In [5]:
# recent_trends(hist_yf)

In [6]:
hist_yf.loc['2022-05-08':'2022-05-14']

Empty DataFrame
Columns: [Open, High, Low, Close, Volume, Dividends, Stock Splits, Symbol]
Index: []

In [ ]:
CalculateReturns(hist_yf)

In [ ]:
df1=CalculateReturnsList(tickers_yf,10000,'2000-01-01')
df1

In [9]:
df1.to_excel (r'Reports/export_dataframe.xlsx', index = False, header=True)